@use "bootstrap" as *;

@import "../../public/assets/scss/main.scss";
@import "../../public/assets/css/font-awesome-pro.css";
@import "../../public/assets/css/flaticon.css";
@import "../../public/assets/css/spacing.css";
@import "../../public/assets/css/backtotop.css";
@import "../../public/assets/css/nice-select.css";

@import "react-toastify/dist/ReactToastify.css";
@import "react-modal-video/css/modal-video.css";

@import "bootstrap/dist/css/bootstrap.min.css";